@{
    ViewData["Title"] = "aboutus";
}
<link rel="stylesheet" href="~/css/aboutus.css" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<section id="aboutus">
    <div class="jumbotron aboutus1">
        <h1 class="heading headingab text-center" data-aos="zoom-in" data-aos-duration="2000">About Us</h1>
        <hr class="w-25 lineab text-white mx-auto pt-5">
        <div class="row text-center">

            <div data-aos="fade-right" class=" abdata col-12 col-md-4 col-sm-12 col-lg-4">
                <div>
                    <h3>Our Mission</h3>
                    <p>To provide our customers a truly international online shopping experience, we guarantee superior quality and craftsmanship through our range, supported by swift and secure processes right from purchase to product delivery and beyond.</p>
                </div>
            </div>
            <div data-aos="zoom-in" class=" abdata col-12 col-md-4 col-sm-12 col-lg-4">
                <div>
                    <h3>Who We Are</h3>
                    <p>The journey of Fashion Store began in the year 2000 with the opening of our first wholesale and retail outlet in Surat, India. After the success of this store, Fashion Store launched its online store in 2003, never looking back since then. Today, it is the world's preferred choice for Indian Ethnic Fashion and sets new standards of customer delight every day.</p>
                </div>
            </div>
            <div data-aos="fade-left" class=" abdata col-12 col-md-4 col-sm-12 col-lg-4">
                <div>
                    <h3>Our Vision</h3>
                    <p>We envisage ourselves as the best online shopping experience for customers worldwide, providing rich Indian artistry through truly international fashion statements. The aim is to source the best of Indian Ethnic Fashion and spread its magic.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
      AOS.init({
        duration:1200
      });
</script>